.login-page {
  width: 100%;
  min-height: 80vh;
  background-color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 80px;
}

.login-main-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.login-title {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding: 40px 0;
  margin-bottom: 40px;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  
}

.login-content {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.login-container {
  width: 100%;
  width: 810px; /* вужча форма як на макеті */
  text-align: center;
}
.login-content p{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* СТИЛІ ФОРМИ */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.input-group input {
  width: 100%;
  box-sizing: border-box;
  background: #E0E0E0;
  padding: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Raleway';
  color: rgba(0, 0, 0, 0.50);

font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.login-submit-btn {
  background: #00AAAD;
  color: #fff;
  border: none;
  padding: 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  height: 90px;
}

.forgot-password-link {
  background: none;
  border: none;
  color: #00AAAD;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin-top: 5px;
  color: #00AAAD;

font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

/* БЛОК РЕЄСТРАЦІЇ */
.register-section {
  margin-top: 50px;
  text-align: left;
}

.register-title {
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

.benefits-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  color: #000;
font-family: Raleway;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Маленька крапка перед списком */
.benefits-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #000;
  font-weight: bold;
}

.create-account-btn {
  margin-top: 100px;
  width: 100%;
  background: #E0E0E0;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.50);

  padding: 18px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
  height: 90px;
}

.create-account-btn:hover {
  background: #d0d0d0;
}