.container {
  width: 100%;
  max-width: 1921px;        
  margin: 0 auto;            
  padding: 24px;           
  box-sizing: border-box;     
}
.home-page-color{
  width: 100%;
  max-width: 1921px;
  margin: 0 auto;
  background: #F3F3F3;
  box-sizing: border-box;
  overflow-x: clip;
}